<div class="navbar">
  <div>
    <%= image_tag 'navbar.png' %>
    <h5>Awesome Garage</h5>
  </div>
  <div>
    <%= link_to "Home", root_path  %>
    <%= link_to "My Garage", favourites_path(@car)%>
  </div>
</div>
